@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

.header {
    height: 100px;
    width: 100%;   
    padding: 20px 20px;
}

.logo {
    background-image: url('../images/beta.svg');
    background-size: cover;
    height: 52px;
    width: 240px;
    float: left;
    cursor: pointer;
}

.profile {
    height: 52px;
    min-width: 52px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    position: fixed;
    top: 20px;
    right: 20px;
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 52px;
    padding-right: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: rgba(255,255,255,0.9)
}

.profile:hover {
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    transform: scale(1.02);
    transition-duration: 0.3s;
}

.profileImage {
    height: 52px;
    width: 52px;
    border-radius: 28px;
    float: left;
    background-image: url('../images/people/2.jpg');
    background-size: cover;
    margin-right: 20px;
}

#profileMenu {
    overflow: hidden;
    position: absolute;
    right: 2rem;
    top: 9rem;
    width: 240px;
    height: 0px;
    border-radius: 24px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    transition-duration: 0.3s;
    z-index: 2;
}

#profileMenu.active {
    transition-duration: 0.3s;
    height: 104px;
}

.profileNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profileNav li {
    color: #777;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 52px;
    padding-right: 20px;
    cursor: pointer;
    padding: 0 4.8rem;
    transition-duration: 0.3s;
}

.profileNav li:hover {
    color: var(--main-color);
    font-weight: 600;
    transition-duration: 0.3s;
}

.appSettings {
    background: url('../images/icons/settingsGray.svg') no-repeat 0.4rem center;
    background-size: 40px;
}

.appLogout {
    background: url('../images/icons/logoutGray.svg') no-repeat 0.4rem center;
    background-size: 40px;
}

.appSettings:hover {
    background: url('../images/icons/settingsTeal.svg') no-repeat 0.4rem center;
    background-size: 40px;
}

.appLogout:hover {
    background: url('../images/icons/logoutTeal.svg') no-repeat 0.4rem center;
    background-size: 40px;
}

.true-teal {
    color: var(--main-color);
  }
  .true-blue {
    color: var(--true-blue);
  }
  .true-purple {
    color: var(--true-purple);
  }
  .true-orange {
    color: var(--true-orange);
  }
  .true-yellow {
    color: var(--true-yellow);
  }
  .true-red {
    color: var(--true-red);
  }

.dashboardNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.dashboardNav li {
    display: inline-block;
    color: #777;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4.8rem;
    padding: 0 3.6rem;
    cursor: pointer;
    transition-duration: 0.3s;
    border-bottom: 2px solid rgba(146, 102, 102, 0.2);
}

.dashboardNav li.active {
    font-weight: 600;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.dashboardNav li:hover {
    font-weight: 600;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transition-duration: 0.3s;
}

.roomNav {
    display: flex;
    flex-wrap: wrap;
}

.addCardContainer {
    height: 242px;
    width: 32%;
    margin-right: 1%;
    margin-top: 1%;
}

.addCard {
    border-radius: 50%;
    width: 74px;
    height: 74px;
    background-image: url('../images/icons/plus.svg'), linear-gradient(117.46deg, rgb(134, 208, 202) 11.44%, rgb(53, 177, 166) 74.61%);
    background-repeat: no-repeat;
    background-position: center;
    margin: 7rem auto 0 auto;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.addCard:hover {
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.roomCard {
    height: 242px;
    width: 32%;
    margin-right: 1%;
    margin-top: 1%;
    border-radius: 24px;
    background: radial-gradient(#429b97 0%, #0b3f42 100%);
    background-size: cover;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    animation-duration: 0.6s;
    animation-name: scaleIn;
}

.roomCard:hover {
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    transform: scale(1.02);
    transition-duration: 0.3s;
}
  
.roomCard h4 {
    color: #fff;
    font-weight: 600;
    line-height: 242px;
    text-align: center;
    animation-duration: 1s;
    animation-name: fadeIn;
}

.roomCard h5 {
    color: #fff;
    position: relative;
    left: 1.6rem;
    bottom: 5.2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    display: inline-block;
}

.guestPreview {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-image: url('../images/people/profile.svg');
    background-size: cover;
    position: relative;
    left: 1rem;
    bottom: 4.2rem;
    display: inline-block;
}

#guestModal {
    position: fixed;
    top: 100px;
    left: calc(50% - 120px);
    width: 240px;
    height: 80vh;
    background: rgba(255,255,255,0.7);
    border-radius: 28px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    opacity: 0;
    z-index: -1;
    transition-duration: 0.3s;
    padding: 20px 0;
}

#guestModal.active {
    opacity: 1;
    z-index: 2;
    transition-duration: 0.3s;
}

#guestModalList li {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 4px;
    transition-duration: 0.1s;
    cursor: pointer;
}

#guestModalList li:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
}

.guestImage {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-size: cover;
    float: left;
}

.guestName {
    line-height: 40px;
    color: #444;
    font-size: 1.8rem;
    float: left;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-left: 8px;
}

.lastSession {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    font-style: italic;
    display: inline-block;
}

.roomDetails {
    display: inline-block;
}

/* Dashboard Side Nav */

#sideNavContainer {
    width: 300px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0 0 20px;
    z-index: 3;
    transition-duration: 0.3s;
}

#sideNavButton {
    position: fixed;
    top: 32px;
    left: 28px;
    height: 52px;
    width: 52px;
    background-image: url('../images/icons/hamburger.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

#sideNavOverlay {
    background-color: rgba(0,0,0,0.4);
    width: 0;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    cursor: pointer;
    transition-duration: 0.3s;
}

#sideNavOverlay.active {
    z-index: 2;
    opacity: 1;
    transition-duration: 0.3s;
}

.sideNav {
    margin-top: 76px;
}

.sideNav li {
    color: #777;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 52px;
    cursor: pointer;
    padding: 0 4.8rem;
    transition-duration: 0.3s;
    margin-bottom: 20px;
}

.sideNav li:hover {
    color: var(--main-color);
    font-weight: 600;
    transition-duration: 0.3s;
}

.sideNav li.active {
    color: var(--main-color);
    font-weight: 600;
    border-right: 4px solid var(--main-color);
    transition-duration: 0.3s;
}

#settingsNav {
    background: url('../images/icons/settingsGray.svg') no-repeat 0.4rem center;
    background-size: 36px;
}

#settingsNav.active, #settingsNav:hover {
    background: url('../images/icons/settingsTeal.svg') no-repeat 0.4rem center;
    background-size: 36px;
}

#joinNav {
    background: url('../images/icons/logoutGray.svg') no-repeat 0.4rem center;
    background-size: 36px;
}

#joinNav.active, #joinNav:hover {
    background: url('../images/icons/logoutTeal.svg')no-repeat 0.4rem center;
    background-size: 36px;
}

#rosterNav {
    background: url('../images/icons/groupsGray.svg') no-repeat 0.4rem center;
    background-size: 36px;
}

#rosterNav.active, #rosterNav:hover {
    background: url('../images/icons/groupsTeal.svg')no-repeat 0.4rem center;
    background-size: 36px;
}

#attendanceNav {
    background: url('../images/icons/attendanceGray.svg') no-repeat 0.4rem center;
    background-size: 36px;
}

#attendanceNav.active, #attendanceNav:hover {
    background: url('../images/icons/attendanceTeal.svg')no-repeat 0.4rem center;
    background-size: 36px;
}

#sessionHistoryNav {
    background: url('../images/icons/sessionHistoryGray.svg') no-repeat 0.4rem center;
    background-size: 36px;
}

#sessionHistoryNav.active, #sessionHistoryNav:hover {
    background: url('../images/icons/sessionHistoryTeal.svg')no-repeat 0.4rem center;
    background-size: 36px;
}

#backNav {
    background: url('../images/icons/backGray.svg') no-repeat 0.4rem center;
    background-size: 36px;
}

#backNav.active, #backNav:hover {
    background: url('../images/icons/backTeal.svg')no-repeat 0.4rem center;
    background-size: 36px;
}



.backDashboard {
    margin-bottom: 40px !important;
}

.roomDashboard {
    width: calc(100% - 300px);
    position: absolute;
    top: 100px;
    right: 0;
}

.downloadCSV {
    width: fit-content;
    background-image: url('../images/true-icons/buttons/csv.svg'), linear-gradient(117.46deg, rgb(134, 208, 202) 11.44%, rgb(53, 177, 166) 74.61%);
    background-repeat: no-repeat;
    float: right;
    padding: 0 20px 0 44px;
}


.cameraFeed {
    background-image: url('../images/people/2.jpg');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    border-radius: 28px;
    height: 50vh;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}


/* Roster */
#rosterList {

}

#rosterList li {
    width: 24%;
    height: 160px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 28px;
    margin: 0 0.5% 0.5% 0;
    display: inline-block;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    position: relative;
    cursor: grab;
}

.nametag {
    position: absolute;
    bottom: 0px;
    left: 20px;
    background: rgba(0,0,0,0.6);
    width: calc(100% - 40px);
    height: 40px;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    backdrop-filter: blur(30px);
    line-height: 40px;
    text-align: center;
}

.group {
    background-color: #fff;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    border-radius: 28px;
    padding: 0;
    margin: 0;
}

.group li {
    width: 49%;
    height: 160px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 28px;
    margin: 0 0.5% 0.5% 0.5%;
    display: inline-block;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    position: relative;
    cursor: grab;
}



/* Session History */

.sessionContainer {
    display: grid;
    grid-template-areas:
    'date1 date2 date3'
    'sessionPreview1 sessionPreview2 sessionPreview3';       
    grid-column-gap: 20px; 
    background-color: #fff;
    border-radius: 28px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    padding: 0 20px;
    position: relative;
}

.prevSession {
    position: absolute;
    top: 16px;
    left: 20px;
    background: url('../images/icons/backWhite.svg'), linear-gradient(117.46deg, rgb(134, 208, 202) 11.44%, rgb(53, 177, 166) 74.61%);
    background-size: cover;
    box-shadow: rgb(93 193 184 / 60%) 0px 4px 16px;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    cursor: pointer;
}

.date1 {
    grid-area: date1;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #444;
    margin: 12px 0 12px 0;
}

.date2 {
    grid-area: date2;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #444;
    margin: 12px 0 12px 0;
}

.date3 {
    grid-area: date3;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #444;
    margin: 12px 0 12px 0;
}

.next {
    grid-area: next;
    background: linear-gradient(117.46deg, rgb(134, 208, 202) 11.44%, rgb(53, 177, 166) 74.61%);
    box-shadow: rgb(93 193 184 / 60%) 0px 4px 16px;
    height: 44px;
    width: 44px;
    border-radius: 22px;
}

.sessionPreview1 {
    grid-area: sessionPreview1;
}

.sessionPreview2 {
    grid-area: sessionPreview2;
}

.sessionPreview3 {
    grid-area: sessionPreview3;
}

.sessionPreview {
    background-color: #fff;
    border-radius: 28px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sessionPreview h4 {
    color: #585858;
    text-align: center;
}

.sessionPreview h5 {
    color: var(--main-color);
    text-align: center;
    font-weight: 600;
}

.sessionPreview img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.day {
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
}


@keyframes expandIn {
    from {
        height: 0px;
        width: 0%;
    }

    to {
        width: 100%;
        height: 240px;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@media only screen and (max-width: 1280px) {

    .roomCard, .addCardContainer {
        width: 48%;
        margin-bottom: 20px;
        margin-right: 1%;
    }

    #sideNavContainer {
        left: -300px;
    }

    #sideNavContainer.active {
        left: 0px;
        z-index: 3;
        transition-duration: 0.3s;
    }

    .roomDashboard {
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {

    .profile {
        min-width: unset;
        width: 52px;
        overflow: hidden; 
    }

    .roomCard, .addCardContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .dashboardNav {
        margin: 0 auto;
        width: 360px;
    }

    .dashboardNav li {
        padding: 0 1.2rem;
    }

    .downloadCSV {
        display: none;
    }
}